.employee-profile-layout-container {
  display: grid;
  grid-template-columns: 1fr 6fr;
  overflow: hidden;
}

.employee-profile-layout-container .navigation {
  background-color: transparent;
  border-right: 1px solid rgb(197, 196, 196);
}

.employee-profile-layout-container a {
  color: black;
}
