.employee-leave-form-page {
  padding: 0 3rem;
}

.employee-leave-form-page form {
  background-color: white;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 3rem;
  width: 50%;
  max-width: 700px;
  margin-top: 2rem;
  height: 80vh;
  /* overflow-y: scroll; */
  margin: 0 auto;
  border-radius: 0.6rem;
}

.employee-leave-form-page .dates-container {
  display: flex;
  gap: 3rem;
}

.employee-leave-form-page .dates-container label {
  width: 100%;
}

.employee-leave-form-page label {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  font-weight: bold;
}

.employee-leave-form-page input,
.employee-leave-form-page select,
.employee-leave-form-page textarea{
  border: 1px solid rgb(187, 187, 187);
  padding: 1rem 1.2rem;
  font-size: 1.4rem;
  background-color: transparent;
}

.employee-leave-form-page input:focus,
.employee-leave-form-page select:focus,
.employee-leave-form-page textarea:focus {
  outline: 1px solid var(--input-focus-color);
}

.employee-leave-form-page textarea {
  resize: none;
}

.employee-leave-form-page option {
  padding: 1rem 0;
  font-size: 1.6rem;
}

.employee-leave-form-page form button {
  padding: 1rem 3rem;
  border: none;
  background-color: var(--button-color-accent);
  color: white;
  font-size: 1.4rem;
  margin-top: 1rem;
  cursor: pointer;
}

.employee-leave-form-page form button:hover {
  background-color: var(--button-color-accent-hover);
}

.employee-leave-form-page form button:active {
  background-color: var(--button-color-accent-active);
}

.employee-leave-form-page .buttons-container {
  display: flex;
  gap: 3rem;
  cursor: pointer;
}

.employee-leave-form-page button:nth-of-type(2) {
  background-color: transparent;
  border: 1px solid var(--button-color-accent);
  color: var(--button-color-accent-active);
}

.employee-leave-form-page button:nth-of-type(2):hover {
  color: white;
}

.employee-leave-form-page button:nth-of-type(2):active {
  color: white;
}