.employee-details-page {
  padding: 0 3rem;
  width: 60%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
}

.employee-details-page h2 {
  margin: 5rem 0 1rem;
}

.employee-details-page h2:first-of-type {
  margin-top: 0;
  margin-bottom: 0;
}

.employee-details-page .top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 4rem;
}

.employee-details-page .details-container {
  overflow-y: scroll;
  background-color: white;
  padding: 3rem;
  border-radius: 0.6rem;
  height: 70vh;
}

.employee-details-page .details-container div {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
  border-bottom: 1px solid grey;
}

.employee-details-page p {
  padding: 1.6rem 0;
  gap: 5rem;
}

.employee-details-page p span {
  font-weight: bold;
}

.employee-details-page .buttons-container {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.employee-details-page button {
  padding: 1rem 3rem;
  font-size: 1.4rem;
}

.employee-details-page .edit-button {
  background-color: var(--button-color-accent);
  color: white;
}
