.add-employee-page {
  padding: 0 3rem;
}

.add-employee-page form {
  background-color: white;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 3rem;
  overflow-y: scroll;
  height: 80vh;
  width: 50%;
  max-width: 700px;
  margin-top: 2rem;
  box-shadow: var(--box-shadow-forms);
}

.add-employee-page label {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  font-weight: bold;
}

.add-employee-page input, .add-employee-page select {
  border: 1px solid rgb(70, 69, 69);
  padding: 1rem 1.2rem;
  font-size: 1.4rem;
  background-color: transparent;
}

/* .add-employee-page input:focus,
.add-employee-page select:focus {
  outline: 2px solid var(--button-color-hover);
} */

.add-employee-page option {
  padding: 1rem 0;
  font-size: 1.4rem;
}

.add-employee-page form button {
  padding: 1rem 3rem;
  border: none;
  background-color: var(--button-color-accent);
  color: white;
  font-size: 1.4rem;
  margin-top: 1rem;
  cursor: pointer;
}

.add-employee-page form button:hover {
  background-color: var(--button-color-hover);
}

.add-employee-page form button:active {
  background-color: var(--button-color-active);
}