.leave-details-page {
  padding: 1rem 3rem;
  width: 60%;
  overflow-y: auto;
  height: 80vh;
  background-color: white;
  margin: 0 auto;
  border-radius: 0.6rem;
}

.leave-details-page h2 {
  margin-bottom: 2rem; 
}

.leave-details-page div {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
  border-bottom: 1px solid grey;
}

.leave-details-page p {
  padding: 1.6rem 0;
  /* display: flex; */
  gap: 5rem;
}

.leave-details-page p span {
  font-weight: bold;
}

.leave-details-page .set-action-button,
.leave-details-page form button {
  padding: 1rem 3rem;
  margin-top: 2rem;
  font-size: 1.6rem;
  background-color: var(--button-color-accent);
  color: white;
  border: none;
  cursor: pointer;
}

.leave-details-page .set-action-button:hover,
.leave-details-page form button:hover {
  background-color: var(--button-color-accent-hover);
}

.leave-details-page .set-action-button:active,
.leave-details-page form button:active {
  background-color: var(--button-color-accent-active);
}

.leave-details-page form select, 
.leave-details-page form textarea {
  padding: 1rem 1.4rem;
  font-size: 1.6rem;
}

.leave-details-page form {
  display: flex;
  width: 50%;
  gap: 2rem;
  flex-direction: column;
  padding: 2rem 0;
}