.landing-page {
  display: grid;
  grid-template-rows: 7rem 10fr 1fr;
  height: 100vh;
  /* background-image: linear-gradient(to bottom, #cf9bb9, #faeff5 ); */
}

.landing-page p {
  font-size: 1.6rem;
}

.landing-page nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4rem 4rem;
}

.landing-page main {
  display: grid;
  grid-template-columns: 1fr 1fr;
  /* flex-direction: column;
  justify-content: center;
  align-items: center; */
  /* min-height: 100vh; */
  width: 100%;
  gap: 4rem;
  /* background-image: linear-gradient(rgba(65, 34, 52, 0.7), #412234), url(../../assets/campaign-creators-gMsnXqILjp4-unsplash.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center; */
  padding: 2rem 4rem;
}

.landing-page .hero-content {
  /* display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr; */
  /* place-items: center; */
  /* color: white; */
  /* height: 50vh; */
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
  /* align-items: center; */
  padding: 3rem;
}

.landing-page .hero-content h2 {
  font-size: 4rem;
  /* text-decoration: underline; */
  /* line-height: 1.5; */
  /* color: white; */
}

.landing-page .hero-main-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  /* align-items: center; */
}

.landing-page .features-container h3 {
  /* text-align: center; */
  margin-bottom: 1rem;
  font-size: 3rem;
  margin-top: 3rem;
  color: #247BA0;
  /* color: white; */
  /* text-decoration: overline underline; */
}

.landing-page .features-container ul {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-bottom: 2rem;
  font-size: 1.6rem;
  list-style: none;
}

.landing-page button {
  padding: 1rem 3rem;
  font-size: 1.4rem;
  border: none;
  cursor: pointer;
  /* background-color: #247BA0; */
  background-color: #6f4897;
  /* background-color: #EF62B6; */
  color: white;
}

.landing-page .hero-content button {
  align-self: flex-start;
}

.landing-page .hero-image {
  width: 100%;
  height: 100%;
}

.landing-page .hero-image img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.landing-page footer {
  display: flex;
  justify-content: center;
  align-items: center;
 
}

.landing-page footer p {
  font-size: 1.2rem;
}

