.employees-page {
  padding: 0 3rem;
}

.employees-page .forms {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.employees-page .add-employee-button {
  padding: 1rem 2rem;
  font-size: 1.4rem;
  border: none;
  background-color: var(--button-color-accent);
  color: white;
  cursor: pointer;
  margin: 2rem 0;
  cursor: pointer;
}

.employees-page .add-employee-button:hover {
  background-color: var(--button-color-hover);
}

.employees-page .add-employee-button:active {
  background-color: var(--button-color-active);
}

.employees-page .search-form {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.employees-page .search-form button {
  padding: 1rem 2rem;
  font-size: 1.4rem;
  border: none;
  background-color: var(--button-color-accent);
  color: white;
  cursor: pointer;
  margin: 2rem 0;
  cursor: pointer;
}

.employees-page input {
  padding: 0.8rem;
}

.employees-page .show-entries-form {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 2rem 0;
  box-shadow: none;
}

.employees-page .show-entries-form select {
  padding: 1rem 4rem 1rem 1rem;
  font-size: 1.4rem;
}

.employees-page label {
  display: flex;
  gap: 2rem;
  align-items: center;
}

.employees-page label input {
  cursor: pointer;
  background-color: white;
}

.employees-page label input:disabled {
  background-color: rgb(218, 218, 218);
  color: rgb(173, 173, 173);
}

.employees-page .no-data-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.employees-page .image-data {
  text-align: center;
}

.employees-page .table-container {
  max-height: 45rem;
  overflow: auto;
}

.employees-page table {
  min-width: 600px;
  width: 100%;
}

.employees-page table img {
  display: inline-block;
  vertical-align: bottom;
  border-radius: 50%;
  border: 2px solid gray;
}
