.home-container {
  min-height: 100vh;
}

.home-container .buttons-container {
  margin-top: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.buttons-container button {
  padding: 1rem 3rem;
  font-size: 2rem;
  border: none;
  cursor: pointer;
}
