.home-container {
  /* display: grid;
  grid-template-columns: 1fr 1fr; */
  min-height: 100vh;
}

/* .home-container .image-container {
  background-image: url(../../assets/pawel-czerwinski-eGTFP1ryhOw-unsplash.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
} */

.home-container .buttons-container {
  margin-top: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.buttons-container button {
  padding: 1rem 3rem;
  font-size: 2rem;
  border: none;
  cursor: pointer;
}

