.employee-leave-page {
  padding: 0 3rem;
}

.employee-leave-page button {
  padding: 1rem 2rem;
  font-size: 1.4rem;
  border: none;
  background-color: var(--button-color-accent);
  color: white;
  cursor: pointer;
  margin: 2rem 0;
  cursor: pointer;
}

.employee-leave-page button:hover {
  background-color: var(--button-color-accent-hover);
}

.employee-leave-page button:active {
  background-color: var(--button-color-accent-active);
}