.employee-login-page {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

/* .employee-login-page .employee-form-container {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
} */

.employee-login-page form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 60%;
  max-width: 480px;
  padding: 3rem;
  background-color: white;
  border-radius: 0.6rem;
}

.employee-login-page form h2 {
  margin-bottom: 2rem;
}

.employee-login-page label {
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
  margin-bottom: 1.4rem;
  width: 100%;
}

.employee-login-page input {
  padding: 1rem 1rem;
  font-size: 1.6rem;
  border: 1px solid rgb(219, 212, 212);
}

.employee-login-page input:focus {
  outline: 1px solid var(--input-focus-color);
}

.employee-login-page button {
  padding: 1rem 2rem;
  font-size: 1.6rem;
  margin: 2rem 0;
  background-color: var(--button-color-accent);
  color: white;
  border: none;
  width: 100%;
  cursor: pointer;
}

.employee-login-page button:hover {
  background-color: var(--button-color-accent-hover);
}

.employee-login-page button:active {
  background-color: var(--button-color-accent-active);
}

.employee-login-page span {
  cursor: pointer;
  color: rgb(31, 108, 223);
  font-size: 1.8rem;
  text-decoration: underline;
}