.employee-layout-container {
  display: grid;
  grid-template-columns: 1fr 6fr;
  min-height: 100vh;
  /* width: 100%; */
}

.employee-outlet {
  display: grid;
  grid-template-rows: 5rem 1fr;
  height: 100vh;
  width: 100%;
  gap: 3rem;
  /* padding: 0 3rem; */
  /* overflow: hidden; */
}

.employee-subnav {
  width: 100%;
  height: 100%;
  box-shadow: 0 0 4px rgb(173, 171, 171);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 3rem;
}

.employee-subnav button {
  padding: 0.8rem 3rem;
  font-size: 1.6rem;
  background-color: var(--button-color-delete-main);
  color: white;
  border: none;
}