.employee-layout-container {
  display: grid;
  grid-template-columns: 1fr 6fr;
  min-height: 100vh;
}

.employee-outlet {
  display: grid;
  grid-template-rows: 5rem 1fr;
  height: 100vh;
  width: 100%;
  gap: 3rem;
}

.employee-subnav {
  width: 100%;
  height: 100%;
  box-shadow: 0 0 4px rgb(173, 171, 171);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 3rem;
}

.employee-subnav .user-profile {
  display: flex;
  align-items: center;
  gap: 1rem;
  cursor: pointer;
}

.employee-subnav .user-profile h3 {
  font-weight: normal;
  font-size: 1.8rem;
}

.employee-subnav .user-profile img {
  border: 1px solid black;
  border-radius: 50%;
  object-fit: cover;
}
