.departments-page {
  padding: 0 3rem;
}

.departments-page .add-department-form {
  margin-top: 2rem;
  display: flex;
  gap: 2rem;
}

.departments-page .add-department-form input, 
.departments-page .add-department-form button {
  padding: 1rem 2rem;
  font-size: 1.4rem;
}

.departments-page .add-department-form button {
  border: none;
  background-color: var(--button-color-accent);
  color: white;
  cursor: pointer;
}

.departments-page .add-department-form button:hover {
  background-color: var(--button-color-hover);
}

.departments-page .add-department-form button:active {
  background-color: var(--button-color-active);
}

.departments-page .show-entries-form {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 2rem 0;
}

.departments-page .show-entries-form select {
  padding: 1rem 4rem 1rem 1rem;
  font-size: 1.4rem;
}

/* .departments-page table {
  width: 100%;
  background-color: white;
}

.departments-page table tr:nth-child(2n) {
  background-color: rgb(231, 231, 231);
} */

